body {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.319);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: fit-content500px;
  box-shadow: 5px 5px 30px rgb(154, 141, 141);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  color: rgb(18, 18, 113);
}
.container .opt {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container .opt h4 {
  font-size: 14pt;
  font-weight: 700;
  padding: 1.2vw 1vw 1.2vw 1vw;
  margin: 2vw 0.2vw 0px 0.2vw;
}
.container .opt h4:hover {
  background-color: rgba(132, 107, 107, 0.296);
  cursor: pointer;
}
.container h1 {
  font-size: 28pt;
  font-weight: 500;
}

.Assumptions {
  display: block;
  margin: 2% 0% 0% 65%;
  width: 23vw;
  color: black;
}
.Assumptions .compounding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Assumptions .compounding h4 {
  font-weight: 100;
}
.Assumptions .paymentPerYear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Assumptions .paymentPerYear h4 {
  font-weight: 100;
}

.defau {
  border-bottom: 2px solid white;
}

.act {
  transition-timing-function: linear;
  transition-delay: 0.2s;
  border-bottom: 2px solid rgb(18, 18, 113);
}

#CompoundSel, #PerYearSel {
  width: 50%;
  height: 30px;
}
#CompoundSel .optSt, #PerYearSel .optSt {
  width: 100%;
  height: 10vh;
  border-radius: 0px;
  background-color: white;
}
#CompoundSel .optSt:hover, #PerYearSel .optSt:hover {
  background-color: rgb(80, 79, 79);
  color: white;
}

.inputContainer {
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1vh 0vw 2vh 0vw;
  padding-bottom: 20px;
  border: 2px solid rgb(212, 207, 207);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

.loanDet {
  text-align: left;
  margin: 0vh 0vw 0vh 2vw;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.divRow {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 35% 10% 55%;
  align-items: center;
}

[data-tooltip]::before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  /* customizable */
  transition: all 0.15s ease;
  padding: 10px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
}

[data-tooltip]:hover::before {
  /* needed - do not touch */
  opacity: 1;
  /* customizable */
  background: white;
  margin-top: -50px;
  margin-left: 20px;
}

[data-tooltip]:not([data-tooltip-persistent])::before {
  pointer-events: none;
}

/* FOR TEST PURPOSES ONLY */
h4 {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.toolTip {
  width: 18px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-weight: 800;
  font-family: "Courier New", Courier, monospace;
  border: 2px solid black;
  border-radius: 100px;
  cursor: pointer;
}

#mortPay {
  text-align: right;
  margin-right: 10%;
}

.inputBox {
  width: 75%;
  height: 3.5vh;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20%;
}
.inputBox .spann {
  width: 12%;
  height: 140%;
  border-radius: 3px 0px 0px 3px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 113);
  font-size: 12pt;
}
.inputBox .spann h4 {
  color: white;
}
.inputBox .perct {
  width: 12%;
  height: 140%;
  border-radius: 0px 3px 3px 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 113);
  font-size: 12pt;
}
.inputBox .perct h4 {
  color: white;
}
.inputBox .textbox {
  width: 80%;
  height: 120%;
  padding: 1px 2px 1px 5px;
  color: rgb(76, 60, 60);
}

.payments {
  text-align: left;
  margin: 0vh 0vw 0vh 2vw;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1vh 0vw 2vh 0vw;
  padding-bottom: 20px;
  border: 2px solid rgb(212, 207, 207);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodyContainer .bodyy {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 46% 46%;
  grid-gap: 2%;
  text-align: left;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
}
.bodyContainer .bodyy .bodyL .bodyR {
  width: 40%;
  height: 10px;
}

.divBod {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.divBod h3 {
  font-weight: 200;
  color: black;
}

.divIpt {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 32% 15% 55%;
}
.divIpt h3 {
  font-weight: 200;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(18, 18, 113);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(18, 18, 113);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.headd {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headd .gds-tds {
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}
.headd .gds-tds .divRow {
  display: grid;
  grid-template-columns: 12% 6% 55%;
  align-items: center;
}

.switches {
  width: 60%;
  height: 100%;
  margin: 30px 15px 15px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.switches h3 {
  margin-left: 10px;
}

.togg {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0px 15px;
  border: 1px solid rgb(212, 207, 207);
  background-color: rgba(119, 119, 119, 0.216);
  box-shadow: inset;
  border-radius: 30px;
  color: black;
}

.blue-bold {
  font-size: 14pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(13, 13, 95);
}

.tables {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 200;
  border-collapse: collapse;
}
.tables th {
  background-color: rgba(214, 202, 202, 0.87);
  color: black;
  text-align: center;
}
.tables #loanTable, .tables #payTable {
  margin: 2vw 2vw 0vw 2vw;
  width: 47%;
  text-align: left;
  font-size: 14pt;
  color: black;
}
.tables #loanTable tr td td, .tables #payTable tr td td {
  width: 100%;
}

#loanTable td, #loanTable th, #payTable td, #payTable th {
  border: 1px solid rgb(170, 164, 164);
  padding: 8px;
}

.cntr {
  text-align: center;
}/*# sourceMappingURL=style.css.map */