
body {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.319);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   

.container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: fit-content + 500px;
    box-shadow: 5px 5px 30px rgb(154, 141, 141);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    color: rgb(18, 18, 113);
    .opt {
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        h4{
            font-size: 14pt;
            font-weight: 700;
            padding: 1.2vw 1vw 1.2vw 1vw;
            margin: 2vw 0.2vw 0px 0.2vw;
            
            

            &:hover{
                background-color: rgba(132, 107, 107, 0.296);
                cursor: pointer;
                
            }
            
        }

        



    }
    h1 {
        font-size: 28pt;
        font-weight: 500;
        
        
    }
}

.Assumptions {
    display: block;
    margin: 2% 0% 0% 65%;
    width: 23vw;

    color: black;

    .compounding{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h4 {
            font-weight: 100;
        }
    }

    .paymentPerYear{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h4 {
            font-weight: 100;
        }
    }
}
.defau{
    border-bottom: 2px solid  white;
}
.act {
    
    transition-timing-function: linear;
    transition-delay: 0.2s;
    
    border-bottom: 2px solid  rgb(18, 18, 113);
}

#CompoundSel, #PerYearSel {

    width: 50%;
    height: 30px;
    .optSt {
        width: 100%;
        height: 10vh;
        border-radius: 0px;
        background-color: white;

        &:hover{
            background-color: rgb(80, 79, 79);
            color: white;
        }
    }
}

.inputContainer {
    width: 95%;
    height: fit-content;
    margin: 1vh 0vw 3vh 0vw;
    padding-bottom: 20px;
    border: 2px solid rgb(212, 207, 207);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}
.loanDet {
    text-align: left;
    margin: 0vh 0vw 0vh 2vw;
    width: 50%;
    height:fit-content;
    display: flex;
    flex-direction: column;
}

.divRow {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 35% 10% 55% ;
    align-items: center;

    
}

[data-tooltip]::before {
        /* needed - do not touch */
        content: attr(data-tooltip);
        position: absolute;
        opacity: 0;

        /* customizable */
        transition: all 0.15s ease;
        padding: 10px;
        color: #333;
        border-radius: 10px;
        box-shadow: 2px 2px 1px silver;
    }

    [data-tooltip]:hover::before {
        /* needed - do not touch */
        opacity: 1;

        /* customizable */
        background: white;
        margin-top: -50px;
        margin-left: 20px;
    }

    [data-tooltip]:not([data-tooltip-persistent])::before {
        pointer-events: none;
    }

    /* FOR TEST PURPOSES ONLY */
    

    h4 {
        font-weight: 400;
        font-family:Arial, Helvetica, sans-serif;
        color: black;
    }
    .toolTip {
        
        width: 18px;
        height: fit-content;
        text-align: center;
        font-weight: 800;
        font-family:'Courier New', Courier, monospace;
        border: 2px solid black;
        border-radius: 100px;
        cursor: pointer;
    }

.val-text {
    text-align: right;
    margin-right: 10%;
}

.inputBox {
    width: 75%;
    height: 3.5vh;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20%;
    

    .spann {
        width: 12%;
        height: 140%;
        border-radius: 3px 0px 0px 3px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color:  rgb(18, 18, 113);
        
        font-size: 12pt;
        h4 {
            color: white;
        }
    }

    .perct {
        width: 12%;
        height: 140%;
        border-radius: 0px 3px 3px 0px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color:  rgb(18, 18, 113);
        
        font-size: 12pt;
        h4 {
            color: white;
        }
    }
    .textbox {
        width: 80%;
        height: 120%;
        padding: 1px 2px 1px 5px;
        color: rgb(76, 60, 60);
        font-size: 12pt;
    }
}

.payments {
    text-align: left;
    margin: 0vh 0vw 0vh 2vw;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}



.bodyContainer {
    width: 95%;
    height: fit-content;
    margin: 1vh 0vw 2vh 0vw;
    padding-bottom: 20px;
    border: 2px solid rgb(212, 207, 207);
    
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bodyy {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 46% 46% ;
        grid-gap: 2%;
        text-align: left;
        margin-top: 3%;
        justify-content: center;
        align-items: center;
        .bodyL .bodyR {
            width: 40%;
            height: 10px;
            
        }   
    }
}
.divBod {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:50% 50% ;
    
    h3 {
        font-weight: 200;
        color: black;
    }
    
}

.divIpt {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:32% 15% 55% ;
    
    h3 {
        font-weight: 200;
        color: black;
    }
    
}


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  input:checked + .slider {
    background-color: rgb(18, 18, 113);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(18, 18, 113);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    background-color: #b4b4b4;
    box-shadow: inset 0px 3px 3px -2px rgb(154, 141, 141),
                inset -3px 0px 3px -2px rgb(154, 141, 141),
                inset 0px -3px 3px -2px rgb(154, 141, 141),
                inset 3px 0px 3px -2px rgb(154, 141, 141);

    box-shadow: inset 3px 3px 3px -2px rgb(154, 141, 141),
                inset -3px 3px 3px -2px rgb(154, 141, 141);

  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .headd {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .gds-tds {
        
        width: 30%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-top: 1%;
        
        .divRow {
            display: grid;
            grid-template-columns: 12% 6% 55% ;
            align-items: center;
        }
    }
  }

  .switches {
    width: 60%;
    height: 100%;
    margin: 30px 15px 15px 35px;
    display: grid;
    grid-template-columns: 30% 40% 30% ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
    h3 {
       margin-left: 10px; 
    }
  }

  .togg {
    
    width: fit-content;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0px 15px;
    border: 1px solid rgb(180, 175, 175);
    background-color: rgba(217, 216, 216, 0.87);
    box-shadow: inset 0px 3px 3px -2px rgb(154, 141, 141),
                inset -3px 0px 3px -2px rgb(154, 141, 141),
                inset 0px -3px 3px -2px rgb(154, 141, 141),
                inset 3px 0px 3px -2px rgb(154, 141, 141);

    box-shadow: inset 3px 3px 3px -2px rgb(154, 141, 141),
                inset -3px 3px 3px -2px rgb(154, 141, 141);

    border-radius: 30px;
    color: black;
  }
.blue-bold {
    font-size: 14pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:  rgb(13, 13, 95);
}







// Report


.tables {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    th {
        background-color: rgba(226, 221, 221, 0.87);
        color: black;
        text-align: center;
    }
    border-collapse: collapse;
    #loanTable, #payTable {
        margin: 2vw 2vw 0vw 2vw;
        width: 47%;
        text-align: left;
        font-size: 14pt;
        color: black;

        tr {
            
            td td {
                width: 100%;
                
        }       
            }
            
    }
}
#loanTable td, #loanTable th, #payTable td, #payTable th {
    border: 1px solid rgba(131, 131, 131, 0.516);
    padding: 8px;
    
  }

.cntr {
    text-align: center;
}

.report-summary {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    justify-content: center;
    
    color:#333;
    
}

.repTitle {
    font-size: 17pt;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif;
    color:#333;
}

.repComm {
    margin-left: 2vw;
    font-size: 13pt;
    text-align: left;    
}

.repSummary{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-left: 2vw;
    
    .spc {
        width: 100%;
        height: 15px;
    }

    .divSum {
        width: 96%;
        height: 40px;
        display: flex;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;    
        h4{
            color:#333;
            font-size: 13pt;
        }

    }
}

.pdf-button {
    align-self: center;

    width: 13%;
    height: 55px;
    border: none;
    border-radius: 30px;
    margin: 10px 10px 30px 10px;
    background-color: rgb(18, 18, 113);
    font-size: 12pt;
    color: white;
    cursor: pointer;
}

.bold-text {
    font-weight: 700;
}


.amortContainer {
    width: 95%;
    height: fit-content;
    padding: 50px 0px 50px 0px;
    margin: 1vh 0vw 3vh 0vw;
    padding-bottom: 20px;
    border: 2px solid rgb(212, 207, 207);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    
}
.divAmort {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% ;
    justify-content: space-between;
    align-items: center;

    h4 {
        font-size: 13pt;
        color: #333;
    }

    
}

#amortTable {
    margin: 2vw 2vw 0vw 2vw;
    width: 98%;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    font-size: 14pt;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;

    .tabHead {
        width: 100%;
        padding: 15px 0px 15px 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid rgb(212, 207, 207);

    }
        
}

#content {
    margin: 0vw  2vw 0vw 2vw;
    width: 98%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-bottom: 20px;

    .tempTable {
        width: 100%;
         display: grid;
         grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
        font-size: 14pt;
        
        justify-content: center;
        align-items: center;
        text-align: center;
       
        div {
            width: 100%;
            height: 60px;
            
            text-align: center;
            border: 1px solid rgb(212, 207, 207);
            h2 {
                color: #333;
                font-size: 17pt;
            }
        }
    }
        
}